body {
    background-image: url("../img/fondoLogin.jpg")
}

.gridContainer {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px; 
    margin-top:120px;
    padding:6px;
    
}

.gridRow {
    background-color:#dbdbdb;
    margin: auto;
    padding:20px;
    border-radius:4px;
    text-align:center;
    
}


.sub {
    margin: 4px;

    width: 100%;
    color: white;
    background-color: #808080;
    border: none;
    padding: 3px;
    border-radius: 2px;
}

.headerCardLogin{
    color:black;
    margin-bottom:6px;
}
