
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="textBienvenido">Bienvenido Usuario</h1>

<div class="flex-container">

    <div>Indicador 1</div>
    <div>Indicador 2</div>
    <div>Indicador 3</div>
    <div>Indicador 4</div>
    <div>Indicador 5</div>
    <div>Indicador 6</div>
    <div>Indicador 8</div>
    <div>Indicador 1</div>
    <div>Indicador 2</div>
    <div>Indicador 3</div>
    <div>Indicador 4</div>
    <div>Indicador 5</div>
    <div>Indicador 6</div>
    <div>Indicador 8</div>


</div>

